@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

form {
    margin: 5rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: red;
}

.inputfile+label {
    cursor: pointer;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.formstyle>* {
    margin: 1rem;
}

.listImages {
    margin: 4rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.grid-item {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.grid-item img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .grid-item {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .grid-item {
        flex: 100%;
        max-width: 100%;
    }
}